# python
__pycache__

# data
data/
logs/
checkpoints/
output/
activations/

# configs
src/configs/old/

# run scripts
run/

# venv
pyg/

# personal
TODO

# latex
*.aux
*.blg
*.brf
*.log
*.out
*.toc
*.pdf
*.bbl
